.greybar                    {@include dimensions(100%,90px);background:#F5F6F6;
                            @include clearfix;padding-top:30px;}
footer                      {width:100%;height:120px;background:#30353D;text-align:center;color:$background;padding-top:50px;}
.social-media               {@include set-margin(0 auto);width:165px;  @include social-media();
div           {
                float:left;margin-right:5px;
                &:first-of-type{    background:url('#{$image-loc}social-media.png') 0 0;}
                &:nth-of-type(2){background:url('#{$image-loc}social-media.png') -38px 0;}
                &:nth-of-type(3){background:url('#{$image-loc}social-media.png') -76px 0;}
                &:nth-of-type(4){background:url('#{$image-loc}social-media.png') -114px 0;}
            }
a             {display:block;@include dimensions(36px, 36px);text-indent:-9999px;}
}